{{define "title"}}{{.Class.Name}} - Murder Hobos{{end}} {{define "content"}}
<br>
<div class="container">
  <div class="page-header">
    <h1>{{.Character.Name}}</h1>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
      <div class="list-type">
        <ul>
          <li>{{.Character.Race}}</li>
          <li>{{.Character.SpellAbilityModifier}}</li>
          <li>{{.Character.ProficienyBonus}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{end}} {{define "scripts"}}{{end}}