{{define "title"}}Murder Hobos{{end}} {{define "content"}}
<br>
<div class="container">
  <div class="page-header">
    <h1>Here are the characters.</h1>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 list-type">
      <ul id="Character_List">
        {{if .Character}} {{range .Character}}
        <li>
          <a class="Character" Tag="Character" href="/character/{{ .Name }}"> <strong>{{.Name}}</strong></a>
        </li>
        {{end}} {{else}}
        <p>No results found!</p>
        {{end}}
      </ul>
    </div>
  </div>
</div>
{{end}}