{{define "title"}}Murder Hobos{{end}} {{define "content"}}
<br>
<div class="container">
  <div class="page-header">
    <h1>Lookie here we got classes.</h1>
    <input type="text" id="mySearch" name="search" onkeyup="Sort()" placeholder="Search Classes..." title="Type in a name">
    <button id="searchButton" onclick="Sort()">Search</button>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 list-type">
      <ul id="Class_List">
        {{if .}} {{range .}}
        <li><a class="Classes" Tag="Class" href="/class/{{ .Name }}"> {{.Name}}</a></li>
        {{end}} {{else}}
        <p>No results found!</p>
        {{end}}
      </ul>
    </div>
  </div>
</div>
{{end}} {{define "scripts"}}{{end}}