{{define "title"}}Murder Hobos{{end}} {{define "content"}}
<br>
<div class="container">
    <div class="page-header">
        <h1>This is our main page</h1>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
            <img src="static/img/Logo1.jpg" class="img-thumbnail" alt="Main Logo" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
            <p class="text-center"><em>Azureus, Imperator of Fear</em></p>
            <br/>
            <p>I'm sure we'll have some cool stuff here someday.</p>
        </div>
    </div>
</div>
{{end}}