{{define "title"}}Create Spell - Murder Hobos{{end}} {{define "content"}}
<br>
<div class="container">
    <div class="page-header">
        <h1>Spell Creator</h1>
    </div>
    <div class="col-md-6">
        <form class="form" method="POST">
            <div class="form-group" name="nameEntry">
                <labela>Name: </label>
                    <input required type="text" name="name"></input>
            </div>
            <div class="form-group" name="schoolSelection">
                <label>School: </label>
                <select required class="selectpicker" name="school">
                <option selected disabled value="">-</option>
                <option value="Abjuration">Abjuration</option>
                <option value="Conjuration">Conjuration</option>
                <option value="Divination">Divination</option>
                <option value="Enchantment">Enchantment</option>
                <option value="Evocation">Evocation</option>
                <option value="Illusion">Illusion</option>
                <option value="Necromancy">Necromancy</option>
                <option value="Transmutation">Transmutation</option>      
            </select>
            </div>
            <div class="form-group" name="LevelSelection">
                <label>Level: </label>
                <select required class="selectpicker" name="level">
                <option selected disabled value="">-</option>
                <option value="0">Cantrip</option>
                <option value="1">Level 1</option>
                <option value="2">Level 2</option>
                <option value="3">Level 3</option>
                <option value="4">Level 4</option>
                <option value="5">Level 5</option>
                <option value="6">Level 6</option>
                <option value="7">Level 7</option>
                <option value="8">Level 8</option>
                <option value="9">Level 9</option>
            </select>
            </div>
            <div class="form-group" name="selectClass">
                <label>Class: </label>
                <select class="selectpicker" name="class" required multiple>
                {{if .Classes}}{{range .Classes}}
                <option value="{{.ID}}">{{.Name}}</option>
                {{end}}{{else}}
                <option value="">No Results Found</option>
                {{end}}
            </select>
            </div>
            <div class="form-group" name="castTimeEntry">
                <label>Cast Time: </label>
                <input required type="text" name="castTime" />
            </div>
            <div class="form-group" name="durationEntry">
                <label>Duration: </label>
                <input required type="text" name="duration" />
            </div>
            <div class="form-group form-inline" name="components">
                <label>Verbal</label>
                <select required class="selectpicker" name="verbal">
                    <option selected disabled value="">-</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <label>Somatic</label>
                <select required class="selectpicker" name="somatic">
                    <option selected disabled value="">-</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
               </select>
                <label>Material</label>
                <select required class="selectpicker" name="material">
                    <option selected disabled value="">-</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="form-group">
                <label>Material Description: </label>
                <input type="text" name="materialDesc" />
            </div>
            <div class="form-group" name="spellType">
                <label>Spell Requirements: </label>
                <div></div>
                <label>Concentration</label>
                <select required class="selectpicker" name="concentration">
                <option selected disabled value="">-</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
                <label>Ritual</label>
                <select required class="select-picker" name="ritual">
                <option selected disabled value="">-</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            </div>
            <div class="form-group" name="spellDescript">
                <label>Spell Decription: </label>
                <br>
                <textarea required name="spellDesc" cols="40" rows="10"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Create Spell"></input>
        </form>
    </div>
</div>
{{end}}{{define "scripts"}}{{end}}