{{define "title"}}Murder Hobos{{end}} {{define "content"}}
<br>
<div class="container">
  <div class="page-header">
    <h1>Look at all these spells.</h1>
    <input type="text" id="mySearch" name="search" placeholder="Search Spells..." title="Type in a name">
    <button id="searchButton" onclick="Sort()">Search</button>
  </div>
  <div class="table-responsive">
  <table class="table">
    <thread>
      <tr>
        <th>Name</th>
        <th>Spell Level</th>
        <th>School</th>
      </tr>
    </thread>
    <tbody id="Spell_List">
      {{if .}} {{range .}}
      <tr>
        <td><a class="Spells" Tag="Spell" href="/spell/{{ .Name }}">{{.Name}}</td>
        <td>{{.Level}}</td>
        <td>{{.School}}</td>
      </tr>
      {{end}} {{else}}
      <tr>
        <th>Nothing</th>
        <th>Here</th>
        <th>At The moment</th>
      </tr>
      {{end}}
      </tbody>
    </table>
  </div>
</div>
{{end}}
