{{define "title"}}{{.Spell.Name}} - Murder Hobos{{end}} {{define "content"}}
<br>
<div class="container">
	<div class="page-header">
        <h1>{{.Spell.Name}}</h1>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
            <div>{{.Spell.School}}</div>
            <br/>
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <td class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>Casting Time</strong><br/>{{.Spell.CastTime}}</td>
                        <td class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>Range</strong><br/>{{.Spell.Range}}</td>
                    </tr>
                    <tr>
                        <td class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>Components</strong><br/>{{.Spell.ComponentsStr}}</td>
                        <td class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>Duration</strong><br/>{{.Spell.Duration}}</td>
                    </tr>
                </tbody>
            </table>
            <p>{{.Spell.HTMLDescription}}</p>
            <br/>
            <p>Available to:</p>
            <div class="list-type">
                <ul>
                    {{range .Classes}}
                    <li><a href="/class/{{.Name}}">{{.Name}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{end}}